.bookmark__image {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 0;
    transition: opacity 0.3s ease;
}

.bookmark__image--visible {
    opacity: 1;
}

.bookmark__image--hidden {
    opacity: 0;
    pointer-events: none;
}