.button__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin-top: 1rem;
}

.button {
    padding: 0.5rem 0.5rem;
    width: auto;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--color-primary);
    transition: all 0.3s ease;
}

.button--answer {
    display: block;
}

.button:active {
    background-color: var(--color-primary-hover);
    transform: scale(0.98);
}

.button__text {
    font-size: 0.8rem;
    color: var(--color-text-light);
}

.button__wrapper {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: left;
}

.button--show-answer {
    display: inline-block;
    margin-top: 1rem;
    color: var(--color-text-light);
}

.button--show-answer:active {
    background-color: var(--color-primary-hover);
    transform: scale(0.98);
}

.button__bookmark {
    position: absolute;
    top: -45px;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    background: none;
    z-index: 0;
}

.button__bookmark:hover {
    transform: scale(1.1);
}

.button__bookmark:focus-visible {
    outline: 3px solid var(--color-primary);
    outline-offset: 2px;
}

