.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var( --color-primary);
    box-shadow: 0 4px 6px var(--color-shadow);
}

.header__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var( --color-text-light);
    letter-spacing: 2px;
    text-align: center;
    padding: 0 1rem;
}