.button__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin-top: 1rem;
}

.button {
    padding: 0.5rem 0.5rem;
    width: auto;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--color-primary);
    transition: all 0.3s ease;
}

.button--answer {
    display: block;
}

.button:active {
    background-color: var(--color-primary-hover);
    transform: scale(0.98);
}

.button__text {
    display: inline-block;
    min-width: 150px;
    color: var(--color-text-light);
    background-color: var(--color-primary-hover);
    transform: scale(0.98);
    font-size: 0.8rem;
}

.button__text:active {
    background-color: var(--color-primary-hover);
    transform: scale(0.98);
}

.button__wrapper {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: left;
}

.button--correct {
    background-color: darkgreen;
}

.button--notCorrect {
    background-color: darkred;
}